.list-badge {
  border-radius: 2px;
}
.list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-btn-detail {
  width: 50%;
}

.card {
  margin-bottom: 10px;
}
.card-title {
  height: 50px;
}
